{
  "presets": [
    ["env", {
      "targets": { "chrome": 58 },
      "useBuiltIns": true
    }],
    "react",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
